/*******************************************************************
Layouts */

body {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 85%;/* 720px; */
    margin: 0 auto;
    background: #fff;
}

#marca {
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#conteudo {
    width: 75%;/* 520px; */ /* (520*100)/700 = 74.28   (700 é a soma do conteudo e navegação)*/
    float: right;
}

#conteudo-principal {
    width: 75%;
    float: left;
}

#conteudo-secundario {
    width: 180px;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 23%;/* 180px; */  /* (180*100)/700 = 25.71   (700 é a soma do conteudo e navegação)*/
    float: left;
    padding-top: 20px;
    /* background: #d1d1d1; */
    text-decoration: none;
}

#navegacao ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navegacao li a{
    width: 200px;
    height: 40px;
    display: block;
    color: rgb(112, 97, 179);
    text-decoration: none;
    text-indent: 40px;
    background: rgba(0, 0, 5, 0.158);
}

#navegacao a:hover {
 color: #fff;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}


